.copy-container {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  height: 52px;
  span {
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
  .btn{
    margin: 0;
    float: right;
  }
}

.product-display-image {
  margin-bottom: 7%;
}
