.side-drawer-container {
  background-color: #161616;
}

ul.side-menu-list {
  margin-top: 100%;
  list-style: none;
  padding: 0;
  li a {
    color: #fff!important;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    padding: 10px 10px 10px 50px;
    text-decoration: none!important;
    margin: 1px 0;
  }

}
