.linkStyle {
  margin-top: 1%;
}

.form-container {
  background-color: #fff;
  padding: 7%;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  border-radius: 7px !important;
}

.iconStyle {
  color: #3f51b5;
  margin-left: auto;
  margin-right: auto;
}
